@charset "utf-8";
* {
 margin: 0px;
 padding: 0px;
}


body{
  color: rgb(0, 0, 93);
}

.p1{
    background-color: rgba(0, 162, 255, 0.5);
}

.mark{
   
}
.p2{
    background-color: rgba(0, 255, 162, 0.5);

}
.p3{
    background-color: rgba(166, 88, 255, 0.5);
}

hr{
    color: blue;
}
.hh{
    background-color: rgba(141, 182, 252, 0.5);

}
body[title]{

    color: aqua;

}
.e1{
    opacity: 1;
}
body{

background-image: url(images/images/background\ images.jpg);
opacity: 1;


}

